@model BuDiTest.Models.AssignTicket
@{
    ViewData["Title"] = "Assign Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 0;
    }
    .select2-container .select2-selection--single {
        height: 43px !important
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 0px !important;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<div class="container">
    <div class="col-md-12">
        <div class="row">           
            <div class="col-md-8 offset-2">
                <div class="card">
                    <div class="card-body register-card-body">
                        <hr />
                        <div class="checkbox center">
                            <label><input type="radio" name="assignedTo[]" value="Team" checked onclick="handleCheckboxChange()">Team</label>
                            <span style="margin: 0 10px;">&nbsp;</span>
                            <label><input type="radio" name="assignedTo[]" value="otherTeam" onclick="handleCheckboxChange()">Other Team</label>
                        </div>
                        <form asp-action="AssignedTo" method="post"  enctype="multipart/form-data">
                            <input type="hidden" name="SelectedRadioButton" id="SelectedRadioButton" value="" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label>Title</label>
                            <span asp-validation-for="Title" class="text-danger"></span>
                            <div class="input-group mb-3">
                                <input asp-for="Title" placeholder="Title" class="form-control" />
                              
                            </div>
                            <label>Member</label>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                            <select class="select2" id="mySelect" asp-for="UserId" style="width: 100%">
                            </select>
                            <label>Attachment</label>
                            <span asp-validation-for="Attachments" class="text-danger"></span>
                            <div class="input-group mb-3">
                                <input asp-for="Attachments" type="file" class="form-control" placeholder="Attachments" />
                             
                            </div>
                                <label>Description</label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                            <div class="input-group mb-3">
                                <textarea asp-for="Description" required class="form-control" placeholder="Description"></textarea>
                              
                            </div>
                            <div class="row">
                                    <div class="col-3">
                                        <input type="submit" class="btn btn-warning" value="Assign" />
                                    </div>
                                <div class="col-4">
                                    <a class="btn btn-primary" asp-action="Index">Back to Page</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- /.card -->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                templateResult: function (data) {
                    if (!data.element) {
                        return data.text;
                    }
                    var $element = $(data.element);
                    var $wrapper = $('<span></span>');
                    var $image = $('<img>');
                    $image.attr('src', $element.data('image'));
                    $image.attr('width', '30px');
                    $image.attr('height', '30px');
                    $wrapper.append($image);
                    $wrapper.append(' ' + data.text);
                    return $wrapper;
                },
                templateSelection: function (data) {
                    if (!data.element) {
                        return data.text;
                    }
                    var $element = $(data.element);
                    var $wrapper = $('<span></span>');
                    var $image = $('<img>');
                    $image.attr('src', $element.data('image'));
                    $image.attr('width', '30px');
                    $image.attr('height', '30px');
                    $wrapper.append($image);
                    $wrapper.append(' ' + data.text);
                    return $wrapper;
                }
            });
        });
        window.addEventListener('DOMContentLoaded', () => {
            handleCheckboxChange();
        })
 
        function handleCheckboxChange() {
            var selectedValue = $('input[name="assignedTo[]"]:checked').val();
            document.getElementById("SelectedRadioButton").value = selectedValue;
            $.ajax({
                url: '/Employe/GetData',
                method: 'GET',
                data: { assignedTo: selectedValue },
                dataJson: 'JSON',
                success: function (res) {
                    if (res !== "") {
                        var select = document.getElementById("mySelect");
                        select.innerHTML = '';
                        res.map((r) => {
                            var option = document.createElement("option");
                            option.setAttribute("value", r.id);
                            option.setAttribute("class", "test");
                            option.setAttribute("data-image", r.picturePath);
                            option.innerText = r.fullName;
                            select.appendChild(option);
                        })
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
}

