@model BuDiTest.Models.User
@{
    ViewData["Title"] = "Add Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .select2-container .select2-selection--single {
        height: 43px !important
    }

        .select2-container .select2-selection--single .select2-selection__rendered{
            padding-left: 0px !important;
        }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="card">
                    <div class="card-body register-card-body">
                  
                        <form asp-action="AddEmployee" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label>First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                            <div class="input-group mb-3">
                                <input required asp-for="FirstName" placeholder="First Name" class="form-control" />
                                
                            </div>
                            <label>Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                            <div class="input-group mb-3">
                                <input required asp-for="LastName" placeholder="Last Name" class="form-control" />
                            
                            </div>
                            <label>Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <div class="input-group mb-3">
                                <input required asp-for="Email" type="email" class="form-control" placeholder="User Email" />
                              
                            </div>
                            <label>Phone</label>
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                            <div class="input-group mb-3">
                                <input required asp-for="MobileNumber" type="number" class="form-control" placeholder="User Mobile" />
                              
                            </div>
                            <label>Picture</label>
                            <span asp-validation-for="Picture" class="text-danger"></span>
                            <div class="input-group mb-3">
                                <input required asp-for="Picture" type="file" class="form-control" placeholder="User Image" />
                             
                            </div>
                            <label>Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div class="input-group mb-3">
                                <input required asp-for="Password" type="password" required class="form-control" placeholder="Password" />
                           
                            </div>
                            <label>Confirm Password</label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            <div class="input-group mb-3">
                                <input required asp-for="ConfirmPassword" type="password" required class="form-control" placeholder="Password" />
                          
                            </div>
                            <div class="row">
                                @if (ViewBag.Department != null)
                                {
                                    <div class="col-3">
                                        <input type="submit" class="btn btn-warning" value="Add Employee" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-7">
                                        <p>Create Department First then you are able to create Employees </p>
                                    </div>
                                }
                                <div class="col-4">
                                    <a class="btn btn-primary" asp-action="EmployeeIndex">Back to Page</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.form-box -->
                </div><!-- /.card -->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/js/AddEmployee.js" type="text/javascript" asp-append-version="true"></script>
}