@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/AdminLayout/_LayoutLogin.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
