@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/AdminLayout/_LayoutLogin.cshtml";
}

<div class="login-logo">
    <p><b>BuDi</b>Test</p>
</div>
<!-- /.login-logo -->
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter Your Valid Email" />


                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">Reset Password</button>

                </div>
                <!-- /.col -->
            </div>
        </form>

    </div>
    <!-- /.login-card-body -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
