@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p style="margin-left:50px">
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
